@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin İstatistik</title>

    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/admin//plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/admin/css/animate.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper wrapper-content animated fadeInRight">

        @await Component.InvokeAsync("Statistic1")

        @await Component.InvokeAsync("Statistic2")

        <div class="row">
            <div class="col-lg-4">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">
                            Alex Smith
                        </h2>
                        <small>Founder of Groupeq</small>
                    </div>
                    <img src="/admin/img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
                    <div>
                        <span>100 Tweets</span> |
                        <span>350 Following</span> |
                        <span>610 Followers</span>
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Alex Smith</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="text-right">
                        <a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a href="" class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-shield fa-4x"></i>
                        <h1 class="m-xs">456</h1>
                        <h3 class="font-bold no-margins">
                            Shield
                        </h3>
                        <small>power</small>
                    </div>
                </div>
                <div class="widget  p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-flash fa-4x"></i>
                        <h1 class="m-xs">612</h1>
                        <h3 class="font-bold no-margins">
                            Thunder
                        </h3>
                        <small>amount</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget lazur-bg p-xl">

                    <h2>
                        Janet Smith
                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li>
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Email:</label>
                            mike@mail.com
                        </li>
                        <li>
                            <span class="fa fa-home m-r-xs"></span>
                            <label>Address:</label>
                            Street 200, Avenue 10
                        </li>
                        <li>
                            <span class="fa fa-phone m-r-xs"></span>
                            <label>Contact:</label>
                            (+121) 678 3462
                        </li>
                    </ul>

                </div>
                <div class="widget red-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">47</h1>
                        <h3 class="font-bold no-margins">
                            Notification
                        </h3>
                        <small>We detect the error.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-thumbs-up fa-4x"></i>
                        <h1 class="m-xs">520</h1>
                        <h3 class="font-bold no-margins">
                            Likes
                        </h3>
                        <small>amount</small>
                    </div>
                </div>
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>
                        <h1 class="m-xs">Alarm</h1>
                        <h3 class="font-bold no-margins">
                            Do
                        </h3>
                        <small>something</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-6">
                <div class="ibox ">

                    <div class="ibox-content">

                        <div>
                            <div class="chat-activity-list">

                                <div class="chat-element">
                                    <a href="#" class="float-left">
                                        <img alt="image" class="rounded-circle" src="/admin/img/a2.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="float-right text-navy">1m ago</small>
                                        <strong>Mike Smith</strong>
                                        <p class="m-b-xs">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                        </p>
                                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    </div>
                                </div>

                                <div class="chat-element right">
                                    <a href="#" class="float-right">
                                        <img alt="image" class="rounded-circle" src="/admin/img/a4.jpg">
                                    </a>
                                    <div class="media-body text-right ">
                                        <small class="float-left">5m ago</small>
                                        <strong>John Smith</strong>
                                        <p class="m-b-xs">
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    </div>
                                </div>

                                <div class="chat-element ">
                                    <a href="#" class="float-left">
                                        <img alt="image" class="rounded-circle" src="/admin/img/a2.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="float-right">2h ago</small>
                                        <strong>Mike Smith</strong>
                                        <p class="m-b-xs">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                        </p>
                                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-form">
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">12</button>
                                    Total messages
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary m-r-sm">28</button>
                                    Posts
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info m-r-sm">15</button>
                                    Comments
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-info m-r-sm">20</button>
                                    News
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success m-r-sm">40</button>
                                    Likes
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">30</button>
                                    Notifications
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">20</button>
                                    Albums
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default m-r-sm">40</button>
                                    Groups
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">30</button>
                                    Permissions
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ibox-content text-center">
                                <h1>Nicki Smith</h1>
                                <div class="m-b-sm">
                                    <img alt="image" class="rounded-circle" src="/admin/img/a8.jpg">
                                </div>
                                <p class="font-bold">Consectetur adipisicing</p>

                                <div class="text-center">
                                    <a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    <a href="" class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ibox-content">
                                <div>
                                    <div>
                                        <span>Memory</span>
                                        <small class="float-right">10/200 GB</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>Bandwidth</span>
                                        <small class="float-right">20 GB</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 50%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>Activity</span>
                                        <small class="float-right">73%</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 40%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>FTP</span>
                                        <small class="float-right">400 GB</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <!-- Mainly scripts -->
    <script src="/admin/js/jquery-3.1.1.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- jquery UI -->
    <script src="/admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Touch Punch - Touch Event Support for jQuery UI -->
    <script src="/admin/s/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/admin/js/inspinia.js"></script>
    <script src="/admin/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/admin/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Jvectormap -->
    <script src="/admin/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- Flot -->
    <script src="/admin/js/plugins/flot/jquery.flot.js"></script>
    <script src="/admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/admin/js/plugins/flot/jquery.flot.resize.js"></script>



</body>

</html>

